@model ConsumePzArtifactViewModel

@{
    ViewData["Title"] = "Odebranie zwrotki z PZ";
}

@if (@Model.IsValid)
{
    <div class="alert alert-success">
        Zwycięstwo!
    </div>
}
else
{
    <div class="alert alert-danger">
        Porażka!
    </div>
}