@using ProfilZaufany.LoginForm
@model ProfilZaufany.LoginForm.LoginFormModel

@{
    ViewData["Title"] = "GoToPz";
}

<form action="@Model.FormAction" method="post">
    @Html.HiddenFor(m => m.SAMLRequest)
    
    <button type="submit" class="btn btn-primary btn-block">Przejdź do PZ.gov.pl</button>
</form>
