@model SignedDocumentInfo
@{
    ViewData["Title"] = "Podpisano dokument";
}

<div class="alert alert-success">
    Podpisano dokument <a href="@Url.Action("DownloadSigned", new { documentId=@Model.Id })">Pobierz podpisany dokument</a>
</div>
